@font-face {
    font-family: Broaven;
    src: url('fonts/broaven-webfont.eot');
    src: url('fonts/broaven-webfont.eot') format('embedded-opentype'),
         url('fonts/Broaven.woff2') format('woff2'),
         url('fonts/Broaven.woff') format('woff'),
         url('fonts/Broaven.ttf') format('truetype');
}

h1, h2, h3 {
    font-family: Broaven;
    color: #0c7f40;
}

.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}